.contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactme__header {
  text-align: center;
}

.contactme__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contactme__date {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2em;
}

.contactme__date div label {
  width: 340px;
}

.contactme__options {
  width: 100%;
}

@media (max-width: 420px) {
  .contactme__content {
    width: 100%;
  }
}
